* {
    padding: 0;
    margin: 0;
}

body {
    font: 14px/18px Tahoma, Arial, Sans-serif ;
    scroll-behavior: smooth;
}

h1 {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px #d8d8d8 solid;
    line-height: 1;
    font-weight: normal;
    color: #666;
}

p {
    line-height: 24px;
    color: #4c4c4c;
    margin-bottom: 30px;
}

.backToTop {
    padding: 15px 25px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 198, 255, 0.9);
    opacity: 1;
    -webkit-transition: visibility 0.2s, opacity 0.2s;
    transition: visibility 0.2s, opacity 0.2s;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    font: 14px/18px Tahoma, Arial, Sans-serif ;
}

.backToTop.hidden {
    opacity: 0;
    visibility: hidden;
}